/* Importación de fuentes de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

/* Definición de variables CSS personalizadas */
:root {
    --primary: #094b65; /* Variable para el color principal */
}

/* Estilos globales para todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilos para el fondo de la página */
body {
    overflow-x: hidden;
    background: #46d0e9;
    min-height: 100vh;
}

/* Estilos para la cabecera (encabezado) */
#cabezera {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#cabezera .logo {
    color: var(--primary);
    font-weight: 700;
    font-size: 3em;
    text-decoration: none;
}

#cabezera ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para los elementos de la cabecera */
#cabezera ul li {
    list-style: none;
    margin-left: 20px;
}

/* Estilos para los enlaces en la cabecera */
#cabezera ul li a {
    text-decoration: none;
    padding: 1px 10px;
    color: var(--primary);
    border-radius: 30px;
}

/* Estilos para los enlaces en la cabecera al pasar el mouse */
#cabezera ul li a:hover {
    background: var(--primary);
    color: #fff;
}

/* Estilos para la sección principal de la página */
section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el degradado en la sección principal */
section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--primary), transparent);
    z-index: 10;
}

/* Estilos para las imágenes en la sección principal */
section img {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

/* Estilos para el texto en la sección principal */
section #text {
    position: absolute;
    color: var(--primary);
    font-size: 10vw;
    text-align: center;
    line-height: .55em;
    font-family: 'Rancho', cursive;
    transform: translatey(-50%);
}

/* Estilos para un span dentro del texto en la sección principal */
section #text span {
    font-size: .20em;
    letter-spacing: 2px;
    font-weight: 400;
}

/* Estilos para el texto con identificador text-2-1 */
#text-2-1 span {
    font-size: 5vw;
    letter-spacing: 1px;
    font-family: 'Rancho', cursive;
    font-weight: 400;
}

#text-2-1 {
    font-weight: 100;
    text-align: center;
    font-size: 2vw;  
}

/* Estilos para el texto con identificador text-3 */
#text-3 span {
    font-size: 5vw;
    letter-spacing: 1px;
    font-family: 'Rancho', cursive;
    font-weight: 400;
}

#text-3 {
    font-weight: 100;
    text-align: center;
    font-size: 5vw; 
}

/* Estilos para el texto con identificador text-4 */
#text-4 {
    font-weight: 100;
    text-align: center;
    font-family: 'Rancho', cursive;
    font-size: 2vw; 
}

/* Estilos para el botón "Explorar" */
#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background: #fff;
    color: var(--primary);
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translatey(100px);
}

/* Estilos para la sección secundaria de la página */
.sec {
    position: relative;
    padding: 100px;
    background: var(--primary);
}

/* Estilos para los títulos en la sección secundaria */
.sec h2 {
    font-size: 3.5em;
    color: #fff;
    margin-bottom: 10px;
}

/* Estilos para los párrafos en la sección secundaria */
.sec p {
    font-size: 1em;
    color: #fff;
}

/* Estilos para el pie de página */
footer {
    position: relative;
    padding: 0px 100px;
    background: var(--primary);
}

/* Estilos para los enlaces en el pie de página */
footer a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para el contenedor de elementos */
.Contenedor {
    display: flex;
    justify-content: center;
}

/* Estilos para los divs dentro del contenedor */
.Contenedor > div {
    text-align: center;
    margin: 0 10px; /* Establece un margen horizontal igual a ambos lados */
}

/* Estilos para las imágenes con borde 1 */
.img-border1 {
    width: 400px; /* Establece el ancho deseado para la primera imagen */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    margin: 0 10px; /* Agrega margen horizontal entre las imágenes */
    border-radius: 10%;
    border-color: #46d0e9;
    border-style: dashed;
}

/* Estilos para las imágenes con borde 2 */
.img-border2 {
    width: 404px; /* Establece el ancho deseado para la segunda imagen */
    height: auto;
    margin: 0 10px;
    border-radius: 10%;
    border-color: #46d0e9;
    border-style: dashed;
}

/* Estilos para las imágenes con borde 3 */
.img-border3 {
    width: 402px; /* Establece el ancho deseado para la tercera imagen */
    height: auto;
    margin: 0 10px;
    border-radius: 10%;
    border-color: #46d0e9;
    border-style: dashed;
}

/* Estilos para las imágenes con borde 4 */
.img-border4 {
    width: 402px; /* Establece el ancho deseado para la cuarta imagen */
    height: auto;
    margin: 0 10px;
    border-radius: 10%;
    border-color: #46d0e9;
    border-style: dashed;
}

/* Estilos para los títulos h3 */
h3 {
    margin-top: 0;
    text-align: center;
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}