footer {
    width: 100%;
    background: #333;
    color: #ffffff;
    display: grid;
    grid-template-columns: auto 20rem;
    list-style-type: none;
    margin-bottom: 0;
    position: relative;
    bottom: 0;

}

.footer-content{
    grid-column: 1;
    margin: 2rem;
}
.footer-content p{
     width: 35rem;
     margin:  1rem 0rem 0rem -3rem;
     font-size: 12px;
}
.footer-bottom{
    grid-column: 1 /span 2;
    text-align: center;
}
#Tfa{
    font-size: small;
    color:#b7d1fa;
}
#Tfa a, .footer-Contactanos a{
    color: #5b769e;
}
.footer-Contactanos{
    grid-column: 2;
    text-align: end;
    margin: 0rem 1rem 0rem 0rem;
}
.socials img{
    margin-bottom: -5px;
    width: 22px;
    height: 22px;
    border: none;
    border-radius: 0rem;
    margin-right: 0.3rem;
}
.socials a{
    font-size: 12px;
}
footer li {
    list-style-type: none;
    width: 180px;
}
#Redes{
    text-align: center;
    margin: 2rem 0rem 0rem 7rem;
    font-size: 14px;
    font-family:monospace;
}
.footer-Contactanos p{
    font-size: 12px;
    width: 170px;
    text-align: end;
    padding: 0rem 0rem 0rem 7rem;
}