/* .Contedor__Barra{
    margin: auto;
    padding: auto;
} */
#h3{
    margin-left:30px;
    color: grey;
}
#h4{
    font-weight: bolder;
    font-size: 15px;
}
.Reglamentos div{
    margin:auto;
    margin-left: 2rem;
    padding-bottom: 2rem;
}

#Informacion ul li{
    list-style-type: none;
}
#Info{
    background-color: grey;
    padding: 2rem;
    font-weight: bolder;
    font-size: 10px;
    color: rgba(218, 196, 196, 0.875);
}